#main-container {
    display: flex;
    /*justify-content: center;*/
    /*align-content: center;*/
}

.obstacle {
    position: absolute;
    padding: 0.5em;
    background-color: slategray;
    color: whitesmoke;
    border-radius: 5px;
}

.obstacle:hover {
    background-color: indianred;
}

#venue {
    width: 800px;
    height: 640px;
    background-color: rgba(234, 234, 234, 0.92);
    margin-bottom: 10px;
}

h1 {
    margin-left: 15px;
    color: slategray;
    font-size: 1.2em;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
}

p {
    margin-left: 15px;
}

ul, p {
    color: slategray;
    font-family: "Open Sans", sans-serif;
    max-width: 200px;
    font-size: 0.9em;
}
